<!DOCTYPE html>
<html lang="en">
    {%load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latest works</title>
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.min.css'%}" />
<link
  href="https://fonts.googleapis.com/css2?family=Allura&display=swap"
  rel="stylesheet"
/>
<link rel="stylesheet" href="{% static 'app/assets/arshath.css'%}" />
</head>
<body class="container">
    <div class="content">
        <h1>Latest works</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore distinctio aliquam corporis ratione consectetur quis quidem unde mollitia, culpa architecto eveniet voluptate deserunt saepe, atque eum laboriosam veritatis iure illum.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora praesentium suscipit dolorem cum accusamus, ad voluptates totam corporis, ullam repudiandae consectetur quibusdam magni, quae eveniet officiis numquam enim nihil quas!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint nemo dolorem fuga? Voluptate, a delectus. Ab odit excepturi natus accusamus eos quam. Quam odio voluptas voluptates maxime molestiae, adipisci soluta?
        </p>
    </div>
    <div class="container-2">
        <div class="content">
            <div class="box a">
                <img src="{%static 'app/assets/img/annie-spratt-wEzkqwmyz1I-unsplash.jpg'%}" alt="">
                <div class="middle middle-2">
                    <div class="text">Oil painting</div>
                </div>
            </div>
            <div class="box b">
                <img src="{%static 'app\assets\img\autri-taheri-l0Gq4BmboYY-unsplash.jpg'%}" alt="">
                <div class="middle">
                    <div class="text">Oil painting</div>
                </div>
            </div>
            <div class="box c">
                <img src="{%static 'app\assets\img\robert-collins-lP_FbBkMn1c-unsplash.jpg'%}" alt="">
                <div class="middle">
                    <div class="text">Oil painting</div>
                </div>
            </div>
            <div class="box d">
                <img src="{%static 'app\assets\img\jacky-zhao-nfVMgrQlBHI-unsplash.jpg'%}" alt="">
                <div class="middle middle-2">
                    <div class="text">Oil painting</div>
                </div>
            </div>
            <div class="box e">
                <img src="{%static 'app\assets\img\joelvalve-qYTh0hg-kc8-unsplash.jpg'%}" alt="">
                <div class="middle">
                    <div class="text">Oil painting</div>
                </div>
            </div>
            <div class="box f">
                <img src="{%static 'app\assets\img\LW_-_OIL_PAINTING.jpg'%}" alt="">
                <div class="middle  middle-2">
                    <div class="text">Oil painting</div>
                </div>
            </div>
            <div class="box g">
                <img src="{%static 'app\assets\img\mcgill-library-XPd2CXRyMgc-unsplash.jpg'%}" alt="">
                <div class="middle middle-2">
                    <div class="text">Oil painting</div>
                </div>
            </div>
            <div class="box h">
                <img src="{%static 'app\assets\img\reinhart-julian-WxM465oM4j4-unsplash.jpg'%}" alt="">
                <div class="middle">
                    <div class="text">Oil painting</div>
                </div>
            </div>
            <div class="box i">
                <img src="{%static 'app\assets\img\vincent-van-zalinge-_d0zgyMmYT8-unsplash.jpg'%}" alt="">
                <div class="middle">
                    <div class="text">Oil painting</div>
                </div>
            </div>
        </div>

    </div>

  <script
    src="{%static 'bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js'%}"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</body>
</html>