{% extends "app/boilerplate/header.html" %}

{%load static%}
{% block title %} Contact {%endblock%}
{% block content %}



<body>
  <section class="hide">
    <div class=bg-top>
      <img src='https://cdn.discordapp.com/attachments/830741919121408021/859859850916528168/dell.jpg'>
    </div>
    <div class="bg-middle">
      <div class="one">
        <i class="fas fa-phone-alt contact-icons"></i>
        <h6 class="contact-info">9697629844</h3>
      </div>
      <div class="one">
        <i class="fas en fa-envelope contact-icons"></i>
        <h6 class="contact-info">infotique@gmail.com</h3>
      </div>
      <div class="one">
        <i class="fas en fa-map-marker-alt contact-icons"></i>
        <h6 class="contact-info">infotique, dubai street, </br> coimbatore dubai</h3>
      </div>
    </div>
  </section>
  <form class="needs-validation" novalidate>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="first name" class="form-label"></label>
            <input type="text" class="form-control" id="first name" placeholder="First Name *" required>
            <div class="invalid-feedback">
              Please fill out this field
            </div>
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="mb-3">
            <label for="last name" class="form-label"></label>
            <input type="text" class="form-control" id="last name" placeholder="Last Name *" required>
            <div class="invalid-feedback">
              Please fill out this field
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label"></label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="E-Mail *" required>
            <div class="invalid-feedback">
              Please fill out this field
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="phone number" class="form-label"></label>
            <input type="phonenumber" class="form-control" id="phone number" placeholder="Phone Number *" required>
            <div class="invalid-feedback">
              Please fill out this field
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="work" class="form-label"></label>
            <input type="text" class="form-control" id="work" placeholder="Work(Optional)">
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="company" class="form-label"></label>
            <input type="text" class="form-control" id="company" placeholder="Company(Optional)">
          </div>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label"></label>
          <textarea class="form-control" id="message" rows="3" placeholder="Message *" required></textarea>
          <div class="invalid-feedback">
            Please fill out this field
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 col-3 mx-auto my-4">
        <button type="submit" class="btn btn-outline-primary">Submit</button>
      </div>
    </div>
  </form>
 
</body>
{% endblock %}

