{% extends "app/boilerplate/header.html" %}

{%load static%}

{% block content %}

  <!-- lipika -->
  <main>
    <section class="container-fluid bg" id="HOME">
      <header class="social-icons-header mt-3">
       <a href="#"><i class="fa fa-twitter s-icon p-2" aria-hidden="true"></i></a>
       <a href="#"><i class="fa fa-facebook-official s-icon p-2" aria-hidden="true"></i></a>
       <a href="#"><i class="fa fa-instagram s-icon p-2" aria-hidden="true"></i></a>

      </header>
      <div class="logo">
        <h1 class="nats">Nakshatra</h1>
        <h2>Photography</h2>
      </div>
      <a href="/app/logout">logout</a>
      
      <div class="nav">
        <div class="nav-icons">
          <div class="button">
              <div class="icons"><i class="fa fa-home" aria-hidden="true"></i></div>
              <a class="icon-name" href="#HOME">Home</a>
          </div>
          <div class="button">
              <div class="icons"><i class="fa fa-th-large" aria-hidden="true"></i></div>
              <a class="icon-name" href="#PRODUCT">Products</a>
          </div>
          <div class="button">
              <div class="icons"><i class="fa fa-users" aria-hidden="true"></i></div>
              <a class="icon-name" href="#ABOUT">About Us</a>
          </div>
          <div class="button">
              <div class="icons"><i class="fa fa-clock" aria-hidden="true"></i></div>
              <a class="icon-name" href="#LATEST">Latest Works</a>
          </div>
          <div class="button">
              <div class="icons"><i class="fa fa-envelope" aria-hidden="true"></i></div>
              <a class="icon-name" href="#CONTACT">Contact</a>
          </div>
        </div>
      </nav>
   
    </section>
  </main>
  <!-- sailesh page -->

  <section class="product-section" id="PRODUCT">
    <div class="wrapper">
      <div class="carousel owl-carousel owl-theme">
          <div class="carousel-card card-1"><img  src="{%static 'app\assets\img\vincent-van-zalinge-_d0zgyMmYT8-unsplash.jpg'%}"><a href="#" class="carousel-product-title">Oil painting</a> </div>
          <div class="carousel-card card-2"><img src="{%static 'app\assets\img\vincent-van-zalinge-_d0zgyMmYT8-unsplash.jpg'%}"><a href="#" class="carousel-product-title">Oil painting</a> </div>
          <div class="carousel-card card-3"><img  src="{%static 'app\assets\img\vincent-van-zalinge-_d0zgyMmYT8-unsplash.jpg'%}"><a href="#" class="carousel-product-title">Oil painting</a> </div>
          <div class="carousel-card card-4"><img src="{%static 'app\assets\img\vincent-van-zalinge-_d0zgyMmYT8-unsplash.jpg'%}"><a href="#" class="carousel-product-title">Oil painting</a> </div>
          <div class="carousel-card card-5"><img  src="{%static 'app\assets\img\vincent-van-zalinge-_d0zgyMmYT8-unsplash.jpg'%}"><a href="#" class="carousel-product-title">Oil painting</a> </div>
      </div>
    </div>
  
  </section>

  <!-- nagu section -->
    <section class="about-section" id="ABOUT">
        <div class="container about" id="aboutpage">
            <div class="left" data-aos="fade-right">
               <img class="img-fluid image" src="{%static 'app\assets\img\vincent-van-zalinge-_d0zgyMmYT8-unsplash.jpg'%}"  alt="" srcset="">
            </div>
            <div class="right" data-aos="fade-left">
                <div class="content-card">
                    <h6 class="abt-NP">Nakshathra Photography</h6>
                    <div class="about-box">
                        <h2 class="abt">ABOUT US</h2>
                    </div>
                    <span class="vertical-line"></span>
                    <p class = "abt-para">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam vitae labore ex animi iure 
                        voluptate incidunt corrupti in neque alias ullam, 
                        voluptate incidunt corrupti in neque alias ullam, 
                        perspiciatis quisquam qui. Nisi provident ea minima debitis ab.</p>
                </div>
            </div>
        </div>
    </section>
  <!-- ap page -->

  <section class="container mb-5 upper" id="LATEST">
    <div class="content">
      <h1>Latest works</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
        distinctio aliquam corporis ratione consectetur quis quidem unde
        mollitia, culpa architecto eveniet voluptate deserunt saepe, atque eum
        laboriosam veritatis iure illum. Lorem ipsum dolor, sit amet
        consectetur adipisicing elit. Tempora praesentium suscipit dolorem cum
        accusamus, ad voluptates totam corporis, ullam repudiandae consectetur
        quibusdam magni, quae eveniet officiis numquam enim nihil quas! Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Sint nemo dolorem
        fuga? Voluptate, a delectus. Ab odit excepturi natus accusamus eos
        quam. Quam odio voluptas voluptates maxime molestiae, adipisci soluta?
      </p>
    </div>
    <div class="container-2">
      <div class="content">
        {% for product in products%}
          <div class="box">
            <img src="{{product.image_URl.url }}" alt="" />
            <div class="middle middle-2">
              <div class="text">{{product.title}}</div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </section>
  


{% endblock %}
