body {
    margin: 0;
  }
  .hide{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
  }
  .one h3{
    font-size: 1.5rem;
  }
  .fas{
    padding-left: 50px;
  }
  .en{
    padding-left: 100px;
  }
  .bg-top img {
    height: 40vh;
    width: 100%;
    object-fit: cover;
  }
  .bg-middle {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    height: 300px;
    width: 100%;
    margin-top: -4px;
    background-color: #ECFDFF;
  }
  
  @media (max-width: 1200px) {
    .bg-middle {
      height: 250px;
    }
  }
  @media (max-width: 768px) {
    .bg-middle {
      height: 400px;
      flex-wrap: wrap;
    }
  }

  

